h1{
    width: 600px;
    margin-left:300px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;




}
h2{
    width: 500px;
    margin-left: 300px;
    font-family: tahoma;
    margin-bottom: 10px;
    font-size: 12px;

}
img{
    width:500px
}